{{ define "main" }}

{{/* Breadcrumbs */}}
{{ if not .IsHome }}
{{ partial "breadcrumbs.html" . }}
{{ end }}

<div class="post-layout {{ if .Param " autonumber" }} autonumber {{ end }}">

    {{- /* Table of Contents - Side Display */}}
    {{- if .Param "toc" }}
    <aside class="side-toc">
        <p class="side-toc-title">目录</p>
        {{ .TableOfContents }}
    </aside>
    {{- end }}

    <div class="post-main-column">
        <article class="post-article">
            <header class="single-intro-container">
                <h1 class="single-title">{{ .Title }}</h1>
                {{- with .Param "summary" }}
                <p class="single-summary">{{ . | markdownify }}</p>
                {{- end }}

                {{- /* Info bar */}}
                {{ if or (or (.Param "author") (.Param "authorAvatarPath")) (or .Date (.Param "readTime")) }}
                <div class="single-subsummary">
                    {{ with $.Param "authorAvatarPath" }}
                    <img src="{{ . }}" alt="Author Avatar" />
                    {{ end }}
                    <div>
                        {{ with .Param "author" }}
                        <p class="author"> {{- .}} </p>
                        {{ end }}
                        <p class="single-date">
                            {{- with .Date }}
                            <time datetime="{{ . | time.Format " 2006-01-02T15:04:05-07:00" }}">{{ . | time.Format
                                (default
                                ":date_long" $.Site.Params.singleDateFormat) }}</time>
                            {{- end }}
                            {{- if .Param "readTime" }}
                            {{ if .Date }} · {{ end }} {{ .ReadingTime }} min read
                            {{- end }}
                        </p>
                    </div>
                </div>
                {{- end}}
            </header>

            {{- if .Param "showTags" }}
            <div class="single-tags">
                {{- range $tag := .Params.tags }}
                {{- with $.Site.GetPage (printf "/tags/%s" $tag) -}}
                <span><a href="{{ .Permalink }}">#{{ .LinkTitle }}</a></span>
                {{- end }}
                {{- end }}
            </div>
            {{- end }}

            <div class="single-content" id="post-content">
                {{ .Content }}
            </div>
        </article>

        {{- if and .Site.Params.giscus.enable (not .Params.disableComment) }}
        <div class="single-comments">
            {{ partial "comments.html" . }}
        </div>
        {{- end }}

        {{ if .Store.Get "hasMermaid" }}
        <script defer type="module" src='{{ "js/mermaid.js" | relURL }}'></script>
        {{ end }}

        {{ if not (.Param "hideBackToTop") }}
        <div class="back-to-top"><a href="#top">back to top</a></div>
        {{ end }}

        {{/* Integration with ScrollSpy */}}
        {{ if .Param "toc" }}
        <script defer src="{{ " js/toc.js" | relURL }}"></script>
        {{ end }}
    </div>
</div>

{{ end }}