{{- $type := "" -}}
{{- if (findRE `\[!NOTE\]` .Text) -}}
{{- $type = "note" -}}
{{- else if (findRE `\[!TIP\]` .Text) -}}
{{- $type = "tip" -}}
{{- else if (findRE `\[!IMPORTANT\]` .Text) -}}
{{- $type = "important" -}}
{{- else if (findRE `\[!WARNING\]` .Text) -}}
{{- $type = "warning" -}}
{{- else if (findRE `\[!CAUTION\]` .Text) -}}
{{- $type = "caution" -}}
{{- end -}}

{{- if $type -}}
{{- $cleanText := .Text | replaceRE (printf `\[!%s\]\s?` (upper $type)) "" -}}
<div class="notice notice-{{ $type }}">
    <p class="notice-title">
        {{- if eq $type "note" -}}NOTE
        {{- else if eq $type "tip" -}}TIP
        {{- else if eq $type "important" -}}IMPORTANT
        {{- else if eq $type "warning" -}}WARNING
        {{- else if eq $type "caution" -}}CAUTION
        {{- end -}}
    </p>
    {{- $cleanText | safeHTML -}}
</div>
{{- else -}}
<blockquote>
    {{- .Text | safeHTML -}}
</blockquote>
{{- end -}}